

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset Euro_2012_stats_TEAM

### Step 3. Assign it to a variable called euro12.

In [2]:
data=pd.read_csv("Euro_2012_stats_TEAM.csv")
euro12=pd.DataFrame(data)
print(euro12)

                                                 Team  Goals  Shots on target  \
0                                             Croatia    4.0             13.0
1                                      Czech Republic    4.0             13.0
2                                             Denmark    4.0             10.0
3                                             England    5.0             11.0
4                                              France    3.0             22.0
5                                             Germany   10.0             32.0
6                                              Greece    5.0              8.0
7                                               Italy    6.0             34.0
8                                         Netherlands    2.0             12.0
9                                              Poland    2.0             15.0
10                                           Portugal    6.0             22.0
11                                Republic of Ireland    1.0              7.0
12                                             Russia    5.0              9.0
13                                              Spain   12.0             42.0
14                                             Sweden    5.0             17.0
15                                            Ukraine    2.0              7.0
16                                                NaN    NaN              NaN
17                                                NaN    NaN              NaN
18                                                NaN    NaN              NaN
19  https://towardsdatascience.com/data-handling-u...    NaN              NaN

    Shots off target Shooting Accuracy % Goals-to-shots  \
0               12.0            51.90%           16.00%
1               18.0            41.90%           12.90%
2               10.0            50.00%           20.00%
3               18.0            50.00%           17.20%
4               24.0            37.90%            6.50%
5               32.0            47.80%           15.60%
6               18.0            30.70%           19.20%
7               45.0            43.00%            7.50%
8               36.0            25.00%            4.10%
9               23.0            39.40%            5.20%
10              42.0            34.30%            9.30%
11              12.0            36.80%            5.20%
12              31.0            22.50%           12.50%
13              33.0            55.90%           16.00%
14              19.0            47.20%           13.80%
15              26.0            21.20%            6.00%
16               NaN               NaN              NaN
17               NaN               NaN              NaN
18               NaN               NaN              NaN
19               NaN               NaN              NaN

    Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
0                         32.0           0.0            0.0
1                         39.0           0.0            0.0
2                         27.0           1.0            0.0
3                         40.0           0.0            0.0
4                         65.0           1.0            0.0
5                         80.0           2.0            1.0
6                         32.0           1.0            1.0
7                        110.0           2.0            0.0
8                         60.0           2.0            0.0
9                         48.0           0.0            0.0
10                        82.0           6.0            0.0
11                        28.0           0.0            0.0
12                        59.0           2.0            0.0
13                       100.0           0.0            1.0
14                        39.0           3.0            0.0
15                        38.0           0.0            0.0
16                         NaN           NaN            NaN
17                         NaN           NaN            NaN
18                         NaN           NaN            NaN
19                         NaN           NaN            NaN

    Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
0                    0.0  ...        13.0                81.30%       41.0
1                    0.0  ...         9.0                60.10%       53.0
2                    0.0  ...        10.0                66.70%       25.0
3                    0.0  ...        22.0                88.10%       43.0
4                    0.0  ...         6.0                54.60%       36.0
5                    0.0  ...        10.0                62.60%       63.0
6                    1.0  ...        13.0                65.10%       67.0
7                    0.0  ...        20.0                74.10%      101.0
8                    0.0  ...        12.0                70.60%       35.0
9                    0.0  ...         6.0                66.70%       48.0
10                   0.0  ...        10.0                71.50%       73.0
11                   0.0  ...        17.0                65.40%       43.0
12                   0.0  ...        10.0                77.00%       34.0
13                   0.0  ...        15.0                93.80%      102.0
14                   0.0  ...         8.0                61.60%       35.0
15                   0.0  ...        13.0                76.50%       48.0
16                   NaN  ...         NaN                   NaN        NaN
17                   NaN  ...         NaN                   NaN        NaN
18                   NaN  ...         NaN                   NaN        NaN
19                   NaN  ...         NaN                   NaN        NaN

   Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
0            62.0       2.0           9.0        0.0      9.0       9.0
1            73.0       8.0           7.0        0.0     11.0      11.0
2            38.0       8.0           4.0        0.0      7.0       7.0
3            45.0       6.0           5.0        0.0     11.0      11.0
4            51.0       5.0           6.0        0.0     11.0      11.0
5            49.0      12.0           4.0        0.0     15.0      15.0
6            48.0      12.0           9.0        1.0     12.0      12.0
7            89.0      16.0          16.0        0.0     18.0      18.0
8            30.0       3.0           5.0        0.0      7.0       7.0
9            56.0       3.0           7.0        1.0      7.0       7.0
10           90.0      10.0          12.0        0.0     14.0      14.0
11           51.0      11.0           6.0        1.0     10.0      10.0
12           43.0       4.0           6.0        0.0      7.0       7.0
13           83.0      19.0          11.0        0.0     17.0      17.0
14           51.0       7.0           7.0        0.0      9.0       9.0
15           31.0       4.0           5.0        0.0      9.0       9.0
16            NaN       NaN           NaN        NaN      NaN       NaN
17            NaN       NaN           NaN        NaN      NaN       NaN
18            NaN       NaN           NaN        NaN      NaN       NaN
19            NaN       NaN           NaN        NaN      NaN       NaN

    Players Used
0           16.0
1           19.0
2           15.0
3           16.0
4           19.0
5           17.0
6           20.0
7           19.0
8           15.0
9           17.0
10          16.0
11          17.0
12          16.0
13          18.0
14          18.0
15          18.0
16           NaN
17           NaN
18           NaN
19           NaN

[20 rows x 35 columns]

### Step 4. Select only the Goal column.

In [3]:
euro12['Goals']

0      4.0
1      4.0
2      4.0
3      5.0
4      3.0
5     10.0
6      5.0
7      6.0
8      2.0
9      2.0
10     6.0
11     1.0
12     5.0
13    12.0
14     5.0
15     2.0
16     NaN
17     NaN
18     NaN
19     NaN
Name: Goals, dtype: float64

### Step 5. How many team participated in the Euro2012?

In [5]:
len(euro12['Team'])

20

### Step 6. What is the number of columns in the dataset?

In [8]:
print(len(euro12.index))
len(euro12.columns)

20

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [17]:
select=euro12[["Team","Yellow Cards","Red Cards"]]
#print(select)
discipline=pd.DataFrame(select)
print(discipline)

                                                 Team  Yellow Cards  Red Cards
0                                             Croatia           9.0        0.0
1                                      Czech Republic           7.0        0.0
2                                             Denmark           4.0        0.0
3                                             England           5.0        0.0
4                                              France           6.0        0.0
5                                             Germany           4.0        0.0
6                                              Greece           9.0        1.0
7                                               Italy          16.0        0.0
8                                         Netherlands           5.0        0.0
9                                              Poland           7.0        1.0
10                                           Portugal          12.0        0.0
11                                Republic of Ireland           6.0        1.0
12                                             Russia           6.0        0.0
13                                              Spain          11.0        0.0
14                                             Sweden           7.0        0.0
15                                            Ukraine           5.0        0.0
16                                                NaN           NaN        NaN
17                                                NaN           NaN        NaN
18                                                NaN           NaN        NaN
19  https://towardsdatascience.com/data-handling-u...           NaN        NaN

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [35]:
discipline.sort_values("Red Cards",axis=0,ascending=True,na_position='last')
discipline.sort_values("Yellow Cards")

                                                 Team  Yellow Cards  Red Cards
2                                             Denmark           4.0        0.0
5                                             Germany           4.0        0.0
3                                             England           5.0        0.0
8                                         Netherlands           5.0        0.0
15                                            Ukraine           5.0        0.0
4                                              France           6.0        0.0
12                                             Russia           6.0        0.0
11                                Republic of Ireland           6.0        1.0
1                                      Czech Republic           7.0        0.0
14                                             Sweden           7.0        0.0
9                                              Poland           7.0        1.0
0                                             Croatia           9.0        0.0
6                                              Greece           9.0        1.0
13                                              Spain          11.0        0.0
10                                           Portugal          12.0        0.0
7                                               Italy          16.0        0.0
16                                                NaN           NaN        NaN
17                                                NaN           NaN        NaN
18                                                NaN           NaN        NaN
19  https://towardsdatascience.com/data-handling-u...           NaN        NaN

### Step 9. Calculate the mean Yellow Cards given per Team

In [39]:
discipline.mean()

Yellow Cards    7.4375
Red Cards       0.1875
dtype: float64

### Step 10. Filter teams that scored more than 6 goals

In [44]:
filt=euro12[['Team','Goals']]
print(filt)
filt[filt['Goals']>6]

                                                 Team  Goals
0                                             Croatia    4.0
1                                      Czech Republic    4.0
2                                             Denmark    4.0
3                                             England    5.0
4                                              France    3.0
5                                             Germany   10.0
6                                              Greece    5.0
7                                               Italy    6.0
8                                         Netherlands    2.0
9                                              Poland    2.0
10                                           Portugal    6.0
11                                Republic of Ireland    1.0
12                                             Russia    5.0
13                                              Spain   12.0
14                                             Sweden    5.0
15                                            Ukraine    2.0
16                                                NaN    NaN
17                                                NaN    NaN
18                                                NaN    NaN
19  https://towardsdatascience.com/data-handling-u...    NaN

       Team  Goals
5   Germany   10.0
13    Spain   12.0

### Step 11. Select the teams that start with G

In [50]:
filt[filt['Team'].str.contains('G',regex= False,skipna=True)]

TypeError: contains() got an unexpected keyword argument 'skipna'

### Step 12. Select the first 7 columns

### Step 13. Select all columns except the last 3.

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

### Step 15. Use apply method on Goal Column to make a new column called Performance, using following conditions

1. If Goals are less than or equal to 2, peformance is **Below Avg**
2. If Goals are more than 2 and less than or equal to 5, peformance is **Average**
3. If Goals are more than 5 and less than or equal to 10, peformance is **Above Average**
4. If Goals are more than 10 then peformance is **Excellent**