In [3]:
import pandas as pd
import numpy as np
data=pd.read_csv("titles.csv")
pd.set_option('max_rows',10,'max_columns',10)
print(data)

                         title  year
0               The Rising Son  1990
1      The Thousand Plane Raid  1969
2             Crucea de piatra  1993
3                      Country  2000
4                   Gaiking II  2011
...                        ...   ...
49995                    Rebel  1970
49996                  Suzanne  1996
49997                    Bomba  2013
49998     Aao Jao Ghar Tumhara  1984
49999               Mrs. Munck  1995

[50000 rows x 2 columns]

In [4]:
print(type(data)) #dataframe

<class 'pandas.core.frame.DataFrame'>

In [6]:
t=data['title']
print(type(t)) #series
print(t.head())

<class 'pandas.core.series.Series'>
0             The Rising Son
1    The Thousand Plane Raid
2           Crucea de piatra
3                    Country
4                 Gaiking II
Name: title, dtype: object

In [7]:
print(t.iloc[2]) #get value based

Crucea de piatra

In [14]:
#filtering
#year wise after 1995
t=data[data['year']>1995] #filter performed creates
#data frame
print(np.shape(t))
print(t.head())

(25120, 2)
                            title  year
3                         Country  2000
4                      Gaiking II  2011
5                     Medusa (IV)  2015
6  The Fresh Air Will Do You Good  2008
8                      L'outsider  2016

In [16]:
t=data[(data['year']>1900) & (data['year']<2000)]
#multiple conditions
print(t)

                           title  year
0                 The Rising Son  1990
1        The Thousand Plane Raid  1969
2               Crucea de piatra  1993
7             Alex in Wonderland  1970
12      Poka Makorer Ghar Bosoti  1996
...                          ...   ...
49994  Lille Fridolf blir morfar  1957
49995                      Rebel  1970
49996                    Suzanne  1996
49998       Aao Jao Ghar Tumhara  1984
49999                 Mrs. Munck  1995

[26884 rows x 2 columns]

In [17]:
#sorting 
movie_name=data[data['title']=='Macbeth'].sort_index()
print(movie_name) #shows default index wise sorting

         title  year
4226   Macbeth  1913
9322   Macbeth  2006
11722  Macbeth  2013
17166  Macbeth  1997
25847  Macbeth  1998

In [18]:
movie_name=data[data['title']=='Macbeth'].sort_values('year')
#sorting column wise
print(movie_name) #shows default index wise sorting

         title  year
4226   Macbeth  1913
17166  Macbeth  1997
25847  Macbeth  1998
9322   Macbeth  2006
11722  Macbeth  2013